<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="1" name="API TEST" annotations="JDK">
  <parameter name="pagesPackage" value="com.trio.assignment.apiTest"/>
  <parameter name="api.base.url" value="https://trioapi-stg.bcpapers.ca/v2/"/>
  <parameter name="sessions" value="sessions.yaml"/>
  <test name="Trio API testcases">
    <classes>
      <class name="com.trio.assignment.apiTest.ApiTest"/>
    </classes>
  </test>
</suite>
